.navbar {
    width: 100%;
    padding: 0.5rem 0;
    background-color: rgb(9, 49, 70);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 200px;
}

.item {
    text-decoration: none;
    color: #ffffff;
    justify-self: center;
}

.item:hover {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    padding: 5px;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 10px;
    width: 100%;
    justify-self: left;
}

.Navbar__brand-logo {
    margin-right: 0.5rem;
}

@media screen and (max-width: 768px){
  .navbar {    
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-template-areas: "logo logo";
  }
  .logo {    
    grid-area: logo;
    justify-self: center;
    text-justify: center;
    background: black;
    width: 100%;
  }
}
