.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px 10px;
    padding: 15px;
}
.contenido {
    padding: 10px;
    display: grid;
    grid-template-rows: 50px 1fr;    
}

.row-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.title-table, .link {
    align-self: center;
    margin-left: 10px;
}
.link {
    justify-self: right;
}


@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .display-none{
        display: none;
    }
}

